*{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Source Serif Pro', serif;
    color: #000;
}

:root {
    --padding-sections: 4em 1em;
}

html {
    scroll-behavior: smooth;
}

.content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 500px 60px 1fr 80px;
    grid-template-columns: 1fr 1fr;
}

.parallax{
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(Multimedia/fondo-mancha-acuarela-color-pastel_52683-12281.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

}

.title{
    width: 100%;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

h1{
    font-family: 'Anton', sans-serif;
}

.welcome{
    display: block;
    text-align: center;
    font-family: 'Anton', sans-serif;
    
}

.portfolio{
    color: #76D3BE;
    font-family: 'Anton', sans-serif;
}

.parallax__button{
    background-color: transparent;
    border: 1px solid #000;
    width: 10em;
    height: 3em;
    transition: background 1s;
    margin: 40px;
    cursor: pointer;

}

.softwares{
    display: flex;
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    opacity: 1;
    overflow: hidden;
}

.softwares ul{
    list-style: none;
    animation: change-softwares 7s infinite;
    padding: 0 5px;
}

.softwares ul, p{
    margin: 0;
}

.arrow-down{
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    animation: bounce-fade 1.2s infinite;
}

.arrow-down img{
    object-fit: cover;
}

@keyframes change-softwares {
    0% {margin-top: 0}
    20% {margin-top: 0;}

    25% {margin-top: -40px}
    50% {margin-top: -40px}

    55% {margin-top: -80px}
    80% {margin-top: -80px}

    85% {margin-top: -40px}
    95% {margin-top: -40px}

    100% {margin-top: 0}
}

@keyframes bounce-fade {
    0%{
        opacity: 0;
        bottom: 35px;
    }

    100%{
        opacity: 1;
        bottom: 2px;
    }
}

.parallax__button:hover{
    background: #76D3BE
}

.content__header{
    grid-row: 2/3;
    grid-column: 1/3;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 200;
}

.header__nav{
    display: flex;
    flex-basis: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.button__ul i{
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.logo-benjamin{
    font-size: 11px;
    text-align: center;
}

.logo-tassara{
    font-size: 22px;
}

.nav__logo{
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.nav__ul-responsive{
    display: none;
}

.nav__ul{
    display: flex;
    background-color: #76D3BE;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: all .5s;
    justify-content: space-around;
}

.mostrar{
    height: 26em;
}

.nav__li {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #888;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav__li i{
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav__li a{
    padding: 10px 0;
    text-decoration: none;
}

.content__main{
    width: 100%;
    height: 100%;
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__aboutme{
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-sections);
}

.main__aboutme p{
    text-align: center;
    color: #F4F1F2;
}

/*
.aboutme__portrait{
    border: 1px solid #F4F1F2;
}
*/
.aboutme__portrait img{
    height: 100%;
}

.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headings h2{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

#aboutme__headings h2{
    color: #F4F1F2;
}

.line{
    height: 1px;
    width: 150px;
    margin: 30px 0;
}

#abt-line{
    background-color: #F4F1F2;
}

.main__portfolio{
    width: 100%;
    padding: var(--padding-sections);
}

#port-line{
    background-color: #000;
}

.portfolio__container-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

.portfolio__container-video .video-item{
    height: 15rem;
    width: 25rem;
    margin: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
}

.portfolio__container-video .video-item iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
}

.portfolio__container-video .video-item iframe:hover{
    transition: .2s linear;
    transform: scale(1.1);
    
}

.main__experience{
    width: 100%;
    padding: var(--padding-sections);
    background-color: #F4F1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#xp-line{
    background-color: #000;
}

.experience__container{
    margin: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item{
    margin: 30px;
    padding: 5px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #000;
    text-align: center;
}

.card-heading{
    text-align: center;
}

.card-heading p{
    text-align: center;
    margin: 10px;
}

.experience-items{
    font-size: 30px;
}

.experience-items i{
    margin: 10px;
}

.main__contactme{
    width: 100%;
    padding: var(--padding-sections);
    background-color: #262626;
}

#cm__headings h2{
    color: #F4F1F2;
}

#cm__headings p{
    color: #F4F1F2;
    text-align: center;
}

#cm-line{
    background-color: #F4F1F2;
}

.form-container{
    background-color: #F4F1F2;
    border-radius: .2em;
    padding: 8px;
    margin: 20px auto;
}

.contactme__form{
    margin: 20px;
}

.form__input{
    width: 100%;
    margin: 8px auto;
    padding: 12px 15px;
    color: #000;
    border-radius: .2em;
    border: none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.form__input:focus {
    background: #0a132c15;
}

.form__section textarea {
    height: 300px;
    resize: none;
}

.form__send{
    background-color: #76D3BE;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.form__send:active{
    background-color: #268b74;
}

.content__footer{
    grid-row: 4/5;
    grid-column: 1/3;
    background: #262626;
    display: flex;
    flex-direction: column;

}

#ft-line{
    margin: 0 auto;
    background-color: #F4F1F2;
    width: 80%;
}

@media screen and (min-width: 900px){
    .content{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 600px 60px 1fr 80px;
        grid-template-columns: 1fr 1fr;
    }

    .title{
        font-size: 35px;
        margin: 40px;
    }

    .logo-benjamin {
        font-size: 14px;
    }
    
    .logo-tassara{
        font-size: 25px;
    }

    .aboutme__portrait{
        width: 400px;
        height: 400px;
    }

    .benjamin .tassara{
        font-size: ¿2px;
    }

    .button__ul{
        display: none;
    }

    .nav__ul-responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__li-responsive{
       list-style: none;
       height: 100%;
       margin: 0 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .nav__li-responsive i{
        font-size: 20px;
        margin: 0 5px;
     }

    .nav__li-responsive a{
        text-decoration: none;
    }

    .experience__container{
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 315px){
    .title{
        font-size: 25px;
    }
}