*{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Source Serif Pro', serif;
    color: #000;
}

:root {
    --padding-sections: 4em 2em ;
    --paddng-sections-responsive: 5em;
    --color-dominated: #262626;
    --color-secondary: #94f0dc;
    --main-font: 'Anton', sans-serif;
    --color-hover-nav-menu: #838383;
    --scroll-space: 30px;
    --desktop-font-header-sections: 80px
}

html {
    scroll-behavior: smooth;
}

p{
    color: #F4F1F2;
}

.content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:  0px 100vh 1fr 100px;
    grid-template-columns: 1fr 1fr;
}

.parallax{
    height: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url(Multimedia/BG\ Photo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

}

.parallax-headings{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    width: 100%;
    font-size: 8vw;
    text-align: center;
    line-height: .98;
}

h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #F4F1F2;
    margin: inherit;
    margin: 30px 0px;
}

.welcome{
    height: 70px;
    display: block;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #F4F1F2;
}

.portfolio{
    color: var(--color-secondary);
    font-family: var(--main-font);
    letter-spacing: 2px;
}

.softwares{
    display: flex;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 100px;
}

.softwares ul{
    list-style: none;
    animation: change-softwares 7s infinite;
    padding: 0 8px;
    font-size: 5vw;
}

.softwares p{
    font-size: 5vw;
}

.softwares li{
    color: #F4F1F2;
}

.softwares ul{
    margin: 0;
    color: #F4F1F2;
}

.play{
    width: 80px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i{
    color: #F4F1F2;
}

.button-container{
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parallax__button{
    width: 150px;
    height: 50px;
    background-color: var(--color-secondary);
    font-size: 25px;
    padding: 14px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: var(--main-font);
}

.parallax__button:active{
    background: var(--color-secondary)
}

.arrow-down{
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    animation: bounce-fade 1.2s infinite;
}

.arrow-down img{
    object-fit: cover;
}

@keyframes change-softwares {
    0% {margin-top: 0}
    20% {margin-top: 0;}

    25% {margin-top: -40px}
    50% {margin-top: -40px}

    55% {margin-top: -80px}
    80% {margin-top: -80px}

    85% {margin-top: -40px}
    95% {margin-top: -40px}

    100% {margin-top: 0}
}

@keyframes bounce-fade {
    0%{
        opacity: 0;
        bottom: 35px;
    }

    100%{
        opacity: 1;
        bottom: 2px;
    }
}

.parallax__button:hover{
    background: #76D3BE
}

.content__header{
    grid-row: 1/2;
    grid-column: 1/3;
    background: var(--color-dominated);
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 200;
    background-color: transparent;
    transition: all .2s;
}

.content__header.background{
    background-color: var(--color-dominated);
    height: 75px;
}

.header__nav{
    display: flex;
    flex-basis: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.button__ul i{
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    color: #F4F1F2;
}

.logo-benjamin{
    font-size: 11px;
    text-align: center;
}

.logo-tassara{
    color: #F4F1F2;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.nav__logo{
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.nav__ul-responsive{
    display: none;
}

.nav__ul{
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--color-dominated);
    height: 100vh;
    overflow: hidden;
    transition: all .5s ease;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.fa-times{
    font-size: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    color: #F4F1F2;
    padding-right: 40px;
    padding-top: 10px;
    transition: color .4s;
}

.fa-times:hover{
    color: var(--color-secondary);
}

.mostrar{
    left: 0;
}

.nav__items{
    display:flex;
    flex-direction: column;
    margin: 40px;
}

.nav__li {
    list-style: none;
    font-size: 18px;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
}


/*.nav__li i{
    margin: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #F4F1F2;
}*/

.nav__li a{
    text-decoration: none;
    color: #F4F1F2;
    font-family: var(--main-font);
    font-size: 40px;
    transition: color .4s;
}

.nav__li a:hover{
    color: var(--color-secondary);
}

.content__main{
    width: 100%;
    height: 100%;
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__aboutme{
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sections);
    scroll-margin-top: var(--scroll-space);
}

.aboutme__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__aboutme p{
    color: #F4F1F2;
}

.aboutme__content-description p {
    margin: 15px 0 ;
}


.aboutme__portrait{
    width: 300px;
    height: 300px;
    transform: scale(0.9);
    transition: .9s ease-in-out all;
}

.aboutme__portrait img{
    height: 100%;
    width: 100%;
    border: 10px solid var(--color-secondary);
    object-fit: contain;
    opacity: 0;
    transform: scale(0.9);
    transition: .9s ease-in-out all;
}

.aboutme__portrait.visible, img.visible{
    opacity: 1;
    transform: scale(1);
}

.headings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headings-color{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: var(--color-secondary);
}

.headings h2{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.aboutme__headings h2{
    color: #F4F1F2;
}


.line{
    /*height: 1px;*/
    width: 150px;
    margin: 10px 0;
}

#abt-line{
    background-color: #F4F1F2;
}

.main__portfolio{
    width: 100%;
    padding: var(--padding-sections);
    scroll-margin-top: var(--scroll-space);
}

#port-line{
    background-color: var(--color-dominated);
}

.portfolio__container-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    margin: 15px 0;
}

.portfolio__container-video .video-item{
    width: 25rem;
    margin: .5rem 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    cursor: pointer;
}

.portfolio__container-video .video-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    outline: none;
    border: none;
    display: block;
}

.portfolio__container-video .video-item:hover{
    transition: .2s linear;
    transform: scale(1.05);
    
}

.main__experience{
    width: 100%;
    padding: var(--padding-sections);
    background-color: #F4F1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: var(--scroll-space);
}

#xp-line{
    background-color: #000;
}

.experience__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item{
    margin: 30px;
    padding: 5px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #262626;
    text-align: center;

    opacity: 0;
    transform: scale(0.9);
    transition: .9s ease-in-out all;
}

.card-item.visible{
    opacity: 1;
    transform: scale(1);
}

.card-item p{
    color: #000;
}

.card-heading{
    text-align: center;
}

.card-heading p{
    text-align: center;
    margin: 10px;
    color: #000;
}

.experience-items{
    font-size: 30px;
}

.experience-items i{
    margin: 10px;
    transition: all .2s;
}

.experience-items i:active{
    transform: scale(1.3);
}

.main__contactme{
    width: 100%;
    padding: var(--padding-sections);
    background-color: #262626;
    scroll-margin-top: var(--scroll-space);
}

#cm__headings h2{
    color: #F4F1F2;
}

#cm__headings p{
    color: #F4F1F2;
    text-align: center;
}

#cm-line{
    background-color: #F4F1F2;
}

.form-container{
    background-color: #F4F1F2;
    border-radius: .2em;
    padding: 8px;
    margin: 20px auto;
}

.contactme__form{
    margin: 20px;
}

.form__input{
    width: 100%;
    margin: 8px auto;
    padding: 12px 15px;
    color: #000;
    border:none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    outline: none;
}

.form__input:focus {
    background: #0a132c15;
}

#message{
    height: 200px;
    resize: none;
}

.form__send{
    background-color: var(--color-secondary);
    height: 50px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.form__send:active{
    background-color: #268b74;
}

.result{
    margin: 5px 0;
}

.green{
    color: #9c6;
}

.red{
    color:#FF0000;
}

.content__footer{
    grid-row: 4/6;
    grid-column: 1/3;
    background: #262626;
}

.footer__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

#ft-line{
    height: 1px;
    width: 150px;
    margin: 0 auto;
    background-color: #F4F1F2;
    width: 80%;
}

.footer__headings{
    padding: 10px;
}

.footer__headings h4, .footer__headings p{
    color: #F4F1F2;
    margin: 5px auto;
}

.footer__socials{
    padding: 10px;
}

.footer__socials i{
    color: #F4F1F2;
    font-size:  20px;
    margin: 5px;
}

.modal-bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-200%);
    background-color: rgba(0, 0, 0, .5);
}

.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    transform: translateY(-200%);
    transition: all .5s;
}

.modal__content{
    width: 96vw;
    height: 70vw;
    max-width: 650px;
    max-height: 400px;
    background-color: #F4F1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.video-item-a iframe{
    width: 80vw;
    height: 50vw;
    max-width: 550px;
    max-height: 300px;
    display: block;
}

.modal__content p{
    color: var(--color-dominated);
    font-family: var(--main-font);
    text-align: center;
    margin: 8px 0;
    font-size: 17px;
}

.btn-close{
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 5px;
}

.btn-close i{
    color: #262626;
    font-size: 20px;
    height: 100%;
    padding: inherit;
}

.modal-open{
    transform: translateY(0);
}

@media screen and (min-width: 900px){


    .content{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows:  0px 100vh 1fr 80px;
        grid-template-columns: 1fr 1fr;
    }

    .content__header{
        padding: inherit;
        padding: 0 4em;
    }

    .content__header.background{
        height: 90px;
    }

    .title{
        font-size: 90px;

    }

    h1{
        letter-spacing: 5px;
        margin: 50px;
    }

    .softwares ul, p{
        font-size: inherit;
    }
    
    .welcome{
        height: 180px;
        letter-spacing: 5px;     
    }


    .portfolio{
        letter-spacing: 5px;
    }

    .portfolio__container-video .video-item{
        margin: .5rem;
    }

    .parallax{
        justify-content: space-around;
    }

    .parallax-headings{
        height: 1000px;
    }

    .button-container{
        position: inherit;
    }

    .softwares, .softwares p{
        font-size: 38px;
        margin-bottom: 50px;
    }

    .parallax__button{
        width: 300px;
        height: 90px;
        font-size: 60px;
    }

    .play{
        width: 130px;
        height: 90px;
    }

    .fa-times{
        margin-right: 70%;
        cursor: pointer;
    }

    .mostrar{
        left: 70%;
    }

    .fa-play{
        font-size: 59px;
    }

    /*
    .logo-benjamin {
        font-size: 14px;
    }*/
    
    .logo-tassara{
        font-size: 40px;
    }


    .button__ul i{
        font-size: 48px;
    }

    .main__aboutme{
        padding: inherit;
        padding: var(--paddng-sections-responsive);
    }

    .aboutme__content{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: unset;
        gap: 20px;
    }

    .aboutme__content-description{
        flex-grow: 1;
        width: 300px;
        font-size: 18px;
    }
    
    .aboutme__content-description p{
        margin: 10px 0;
        width: 100%;
        font-size: 27px;
    }


    .aboutme__portrait{ 
        height: 500px;
        width: 500px;
    }

    .aboutme__portrait img{
        object-fit: cover;
    }

    .headings-color{
        font-size: var(--desktop-font-header-sections);
    }

    .headings h2{
        font-size: var(--desktop-font-header-sections);
    }
    
    /*
    .nav__ul-responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__li-responsive{
       list-style: none;
       height: 100%;
       margin: 0 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .nav__li-responsive i{
        font-size: 20px;
        margin: 0 5px;
        color: #F4F1F2;
     }

    .nav__li-responsive a{
        text-decoration: none;
        color: #F4F1F2;
    }
*/

    .main__portfolio{
        padding: inherit;
        padding: var(--paddng-sections-responsive);
    }

    .main__experience{
        padding: inherit;
        padding: var(--paddng-sections-responsive);
    }

    .experience__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .experience-items i:hover{
        transform: scale(1.3);
    }

    .card-item{
        width: 300px;
    }

    .main__contactme{
        padding: inherit;
        padding: var(--paddng-sections-responsive);
    }
    
    .contactme__form{
        margin: 10px;
    }

    #cm__headings p {
        font-size: 30px;
    }
    
    .form-container{
        background-color: #F4F1F2;
        border-radius: .2em;
        padding: 8px;
        margin: 20px auto;
    }

    .form__input{
        width: 100%;
        margin: 8px auto;
        padding: 12px 15px;
        color: #000;
        border: none;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
        outline: none;
    }
    
    #message{
        height: 470px;
    }
    
    .form__send{
        background-color: #76D3BE;
        border: none;
        height: 50px;
        width: 100px;
        cursor: pointer;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
    }
    
    .form__send:active{
        background-color: #268b74;
    }

    .form-container{
        width: 40%;
        height: 700px;
    }

    .footer__info{
        justify-content: space-around;
    }

    .modal__content{
        width: 100%;
        max-width: 900px;
        max-height: none;
        height: 570px
    }

    .video-item-a iframe{
        width: 800px;
        height: 450px;
        max-width: none;
        max-height: none;
    }

    .btn-close{
        height: 61px;
    }

    .btn-close i{
        height: 100%;
    }

    .modal__content p{
        font-size: 30px;
    }
    
    /*
    .modal__content{
        width: 100%;
        max-width: 900px;
        max-height: none;
        height: 550px;
    }
    .btn-close{
        height: 60px;
    }

    .btn-close i{
        margin: inherit;
        height: 100%;
    }
    
    .modal__content p{
        font-size: 30px;
    }

    .video-item-a iframe{
        width: 800px;
        height: 450px;
        max-width: none;
        max-height: none;
    }*/
}

@media screen and (max-width: 660px){
    .parallax{
        background-size: 1240px 1000px;
        background-position:right top;
    }
}



@media screen and (max-width: 344px){
    .title{
        font-size: 8vw;
    }

    .softwares{
        font-size: 20px;
    }
}

@media screen and (max-width: 360px){
    .logo-tassara{
        font-size: 15px;
    }

    .footer__info{
        font-size: 12px;
    }
}

@media screen and (max-height: 480px){
    .button-container{
        top: 70%;
    }
}

@media screen and (max-width: 1400px){
    .title{
        font-size: 7.5vw;
    }

    .softwares .softwares p{
        font-size: 20px;
    }
}